###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=fd8aa75367f3754c69b851eb4b34d5dc
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

###> google/apiclient ###
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_REDIRECT_URI=http://localhost:8000/login
GOOGLE_CLIENT_SCOPES=https://www.googleapis.com/auth/analytics.readonly
###< google/apiclient ###